version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: hkh-mysql
    restart: always
    environment:
      MYSQL_DATABASE: hkh_homestay
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: